{% extends 'student_course_detail_view.html' %}
{% load staticfiles %}
{% block bar %}
{{courses.course_name}}
{% endblock bar %}
{% block student_content %}

<style>
    .content{
        margin-top:5%;
        margin-left: 5%;
        margin-right: 5%;
    }
</style>

 <!--{% for file in assignment_material %}-->
    <!--<tr>-->
     <!--<td width="20%">{{ file.filename }}</td>-->
     <!--<td width="20%">{{ file.description }}</td>-->
     <!--<td width="20%" align="center"><a href="/download/assignment-material/{{file.filename}}" style="text-decoration:None">Download here</a></td>-->
     <!--<td width="20%">{{ file.submission_last_date }}</td>-->
     <!--<td width="20%" align="center"><form method="post" enctype="multipart/form-data">-->
        <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
        <!--<button type="submit" name="file.id" value="{{ file.id }}">Upload</button>-->
        <!--</form>-->
     <!--</td>-->
    <!--</tr>-->
 <!--{% endfor %}-->

<body>

            <!-- Contents starts here -->
    <div class="content">

      <div class="panel panel-default">

        <div class="panel-body">

		<table class="table table-hover">
            <tbody style="text-align: left">
            <div class="panel-heading">
                <tr>
                <th>Filename</th>
                <th>Description</th>
                <th>Download</th>
                <th>deadline</th>
                <th>Submit</th>

                </tr>
            </div>
        {% for file in assignment_material %}
        <tr>
            <td>{{ file.filename }}</td>
            <td>{{ file.description }}</td>
            <td>
            <a class="btna" href="/download/assignment-material/{{file.filename}}" style="text-decoration:None">Download</a>
            </td>

            <td> {{ file.submission_last_date }}</td>
	        <td>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btna" type="submit" name="file.id" value="{{ file.id }}">Submit</button>
            </form>
		  <!--<a class="btn" href="">Submit</a>-->
            </td>
        </tr>
        {% endfor %}
            </tbody >
    </table>
        </div>
      </div>

 </div>


</body>
{% endblock student_content %}
