
{% extends 'student_view.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% block extend %}
    <style>
        .baseStyle{
                margin-top: 20px;
                margin-left: 100px;
                margin-right: 120px;
        }
        #outerPanel{
              margin-top: 30px;
              margin-left: 500px;
              margin-right: 500px;
              padding-bottom: 50px;
        }
        .cmnt{
            font-size: large;
            text-align: center;
            margin-top: 200px;
        }
    </style>

        {% if value == 0 %}
            <p class="cmnt"> <strong> Nothing to Show </strong> </p>
        {% else %}
            <div class="panel panel-default" id="outerPanel">
                <div class="panel-body">
                    <div class="baseStyle">
                        {% block matter %}
                     {% with ''|center:value as range %}
                    {% for _ in  range  %}
                       {% with 0|add:forloop.counter  as pk2 %}
                          <li class="list-group-item">
                            <div class="padd">
                                <a href="{% url 'campus_admin:fee_receipt_view' pk=pk pk1=pk1 pk2=pk2 pk4=pk4 %}"> Semester {{ pk2 }} Fee Receipt</a> <br>
                            </div>
                          </li>
                       {% endwith %}
                    {% endfor %}
                    {% endwith %}
                        {% endblock matter%}

                    </div>
                </div>
            </div>
        {% endif %}
{% endblock extend %}

