
{% extends 'qa/base.html' %}
{% load staticfiles %}

{% block matter %}
<div class="an">
  {% if message %}
  <strong>Enter a valid Question!</strong>
  {% endif %}


  <form method="post" action="{% block action_url %}{% url 'qa:qa_create_question' course_no=course_no %}{% endblock action_url %}">
   {% csrf_token %}
      {% for field in form  %}
         {{ field.errors }}
        <b>{{ field.label_tag }}</b> - {{ field }}

    <br>
    <br>
    {% endfor %}

    <input class="btn  btn-success"  type="submit" value="Submit Question" />
  </form>

</div>

<style >
  .an{
    padding-bottom: 10%;
    padding-left: 5%;
  }


</style>

{% endblock matter %}

