{% extends 'qa/base.html' %}
{% load staticfiles %}

{% block matter %}


<div class="con">






<div class="jumbotron">
  <div class="row">

    <div class="col-sm-10">
      <small class="pull-right">Posted by {{ question.user.username }}, {{ question.pub_date }}</small>
      {% if user.is_authenticated and question.user == user %}<a href="{% url 'qa:qa_update_question' course_no=course_no question_id=question.id %}"><small class="pull-right">Edit &nbsp;</small></a>{% endif %}
      <h3><cool>Q: </cool>{{ question.title }}</h3>
      <h5>Description:&nbsp;{{ question.description }}</h5>
      <br>
      <p>
      {% if question.closed %}
          <p class="pull-right">This Question has been closed.</p>
      {% else %}
          <a class="btn  pull-right" style="background-color:#0f6c6b " href="{% url 'qa:qa_create_answer' course_no=course_no question_id=question.id %}" role="button"><font color=#FFFFFF>Answer this Question!</font></a><hr>
          <a class="btn  pull-right" style="background-color:#0f6c6b " href="{% url 'qa:qa_create_question_comment' course_no=course_no question_id=question.id %}" role="button"><font color=#FFFFFF>comment this Question!</font></a>
      {% endif %}
      </p>
    </div>
  </div>
</div>

{% if last_comments %}
  <h4>comments</h4>
  {% for comment in last_comments %}
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
    <p><b>{{ comment.comment_text }}</b><small>, <a href="{% url 'student:view_profile_with_pk' pk=comment.user.id %}">{{ comment.user.username }}</a> <div class="pull-right">{{ comment.pub_date }}</div></small></p>{% if comment.user == user %}<a href="{% url 'qa:qa_update_question_comment' course_no=course_no comment_id=comment.id %}" class="pull-right"><small>Edit &nbsp;</small></a>{% endif %}
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if answers %}
  <h3>Answers</h3>
  <hr/>

    {% for answer in answers %}
    <div class="row">

      <div class ="col-md-9">
        <a href="{% url 'qa:qa_create_answer_comment' course_no=course_no answer_id=answer.id %}" class="pull-right"><small><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comment &nbsp;</small></a>
        {% if answer.user == user %}<a href="{% url 'qa:qa_update_answer' course_no=course_no answer_id=answer.id %}" class="pull-right"><small>Edit &nbsp;</small></a>{% endif %}
            <div id="ans" class="alert alert-primary" role="alert">{{ answer.answer_text }}</div>

          {% if answer.answercomment_set %}
          {% for comment in answer.answercomment_set.all %}
            <p><b>{{ comment.comment_text }}</b><small>, <a href="{% url 'student:view_profile_with_pk' pk=comment.user.id %}">{{ comment.user.username }}</a> <div class="pull-right">{{ comment.pub_date }}</div></small></p>{% if comment.user == user %}<a href="{% url 'qa:qa_update_answer_comment' course_no=course_no comment_id=comment.id %}" class="pull-right"><small>Edit &nbsp;</small></a>{% endif %}
          <hr>
          {% endfor %}
        {% endif %}
      </div>

          <div class ="col-md-2">
            {% if user.userprofile.image %}
            <a class="pull-right" href="{{ user.userprofile.image.url }}">
            <img src="{{ user.userprofile.image.url }}" align = "right" class="img-circle" alt="Cinque Terre" width="50" height="50"></a>
            {% else %}
                <img class="pull-right" src="{% static 'qa/user.png' %}"   alt="Cinque Terre" width="30" height="30">
            {% endif %}
              <p class="pull-right">- <b><a href="{% url 'student:view_profile_with_pk' pk=answer.user.id %}">{{ answer.user.username }}</a></b></p>

            </div>
            </div>
                <hr>
    {% endfor %}

{% else %}

<center><h2>This question is still not answerd, <a href="{% url 'qa:qa_create_answer' course_no=course_no question_id=question.id %}" role="button">Write answer!</a></h2></center>
{% endif %}

</div>
<style >

.con{

  padding-bottom: 10%;
}

.col-sm-10{
  padding-left: 5%
}

div {

    word-wrap: break-word
}
p{
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
  font-size: 1.2rem;
  text-align: left;
}
</style>
{% endblock matter %}

{% block extra_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock extra_js %}
